fastapi
uvicorn
mysql-connector-python
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
endesive==2.19.2
cryptography
lxml
requests
asn1crypto
pyopenssl
stripe
signxml
lxml
zeep

