fastapi
uvicorn
mysql-connector-python
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
endesive
cryptography
lxml
requests
asn1crypto
pyopenssl
stripe
endesive==2.1.2
